/* Survey page styles */

.photo{
  width: 70%;
  padding: 10px;
  border-radius: 15px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
  width: 90%;
}
.newsletter {
    text-align: right;
    padding: 10px;
    margin: 20px 30px;
    width: 100%
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
