/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 10px 0 10px 10px;
  background: #34495e;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: white;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  transition: all .5s;
}

a.twitter {
  background-image: url(../img/twitter-32.png);
}

a.youtube {
  background-image: url(../img/youtube-32.png);
}

a.spotify {
  background-image: url(../img/spotify-32.png);
}

a.social:hover {
  opacity: 1;
}
@media screen and (min-width: 840px) {
  footer {
    font-size: 1.3em;
    margin: auto;
    margin-top: 40px;
  }
}
