header {
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__item {
    color: #34495e;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 0;
}
.hero__item--text {
    color: black;
    font-size: 1.7em;
    font-weight: bold;
}
.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name{
  font-weight: 300;
}

header .name{
  font-size: 3em;
}
.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125
}

@media screen and (min-width: 840px) {
  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }
}
