header {
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__item {
  color: #34495e;
  text-transform: uppercase;
  margin-bottom: 0;
}
.hero__item--text {
  color: #005500;
  font-weight: bold;
}
.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name{
  font-weight: 300;
}

.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125
}

@media screen and (min-width: 840px) {
  header {
    min-height: 470px;
  }
  .hero__item{
    font-size: 4em;
  }
  .hero__item--text {
    font-size: 1.7em;
  }

  header .name{
    font-size: 2em;
  }
}
